accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-doc
annotated-types
anyio
attrs
beautifulsoup4
blinker
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
click-default-group
cloudpathlib
confection
contourpy
cryptography
cycler
cymem
dataclasses-json
Deprecated
emoji
et_xmlfile
fastapi>=0.136.0
fastembed>=0.8.0
filelock
filetype
flatbuffers
fonttools
frozenlist
fsspec
gitdb
GitPython
google-api-core
google-auth
google-cloud-vision
googleapis-common-protos
grpcio
grpcio-status
grpcio-tools
h11
h2
hf-xet
hpack
html5lib
httpcore
httpx>=0.28.1
httpx-sse>=0.4.3
huggingface_hub
hyperframe
idna
installer
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
langchain
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
langdetect
langsmith
llvmlite
loguru
lxml
lxml_html_clean
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
ml_dtypes
mmh3
more-itertools
mpmath
msoffcrypto-tool
multidict
murmurhash
mypy_extensions
narwhals
networkx
numba
numpy
olefile
ollama
onnx
onnxruntime
openai-whisper
opencv-python
openpyxl
orjson
packaging
pandas
pdf2image
pdfminer.six
pi_heif
pikepdf
pillow
pluggy
portalocker
preshed
propcache
proto-plus
protobuf
psutil
py_rust_stemmers
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
PyMuPDF
pypandoc_binary
pyparsing
pypdf
pypdfium2
python-dateutil
python-docx
python-dotenv
python-iso639
python-magic
python-multipart
python-oxmsg
python-pptx
pytz
PyYAML
qdrant-client>=1.13.3
RapidFuzz
referencing
regex
requests
requests-toolbelt
rich
rpds-py
safetensors
schedule
scikit-learn
scipy
sentence-transformers>=5.4.1
shellingham
six
smart_open
smmap
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
sqlite-fts4
sqlite-utils
srsly
sse-starlette
starlette
sympy
tabulate
tenacity
thinc
threadpoolctl
tiktoken
timm
tokenizers
toml
torch>=2.11.0
torchvision>=0.26.0
tornado
tqdm
transformers>=5.5.4
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
unstructured
unstructured-client
unstructured.pytesseract
unstructured_inference
urllib3
uuid_utils
uvicorn>=0.34.2
wasabi
weasel
webencodings
wrapt
xlrd
xlsxwriter
yarl
zstandard
